<!doctype html>
<html>
<head>
  <title>A Compliment</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <p>Hi {{ person }}! I think you're:
    <ul>
        {% for compliment in compliments %}
        <li> {{ compliment }}</li>
        {% endfor %}
    </ul>!
    </p> 
    <form action = '/game/{{ person }}'>
        <p>Do you want to play a game?</p> 
        <input type="radio" name="play" value ='True'>Yes
        <input type="radio" name="play" value='False'>No
        <input type="submit" value='Play!'> 
    </form>
</body>
</html>
