<!DOCTYPE html>
<html>
<head>
    <title>Let's play!</title>
</head>
<body>
    <form action = '/madlib'>
        Enter your name:
        <input type="text" name="person">
        <br> What's your favorite color?
        <input type="text" name="favColor">
        <br> What is your preffered noun?
        <input type="radio" name="noun" value='She'>She
        <input type="radio" name="noun" value='he'>He
        <input type="radio" name="noun" value='their'>Their
        <br> How would you describe yourself?
        <select name='adjective'>
            <option value='pretty'>Pretty</option>
            <option value='smart'>Smart</option>
            <option value='lazy'>Lazy</option>
            <option value="awesome">Awesome</option>
            <option value='cool'>Cool</option>
        </select>
        <br> <input type="submit">
    </form>
</body>
</html>